<template>
  <div>
    <input
      type="text"
      class="ApiKeyForm-input"
      v-model="apiKey"
      placeholder="FoodData Central API Key"
    />
    <button @click="onCheckClicked">Check</button>
    <span class="ApiKeyForm-status" v-if="dirty">
      {{ valid ? '✔️' : '❌' }}
    </span>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import ApiService from '../services/ApiService';

@Component({})
export default class ApiKeyForm extends Vue {
  apiService = new ApiService();
  apiKey = '';
  dirty = false;
  valid = false;

  created() {
    if (this.$store.state.apiKey !== '') {
      this.apiKey = this.$store.state.apiKey;
      this.dirty = true;
      this.valid = true;
    }
  }

  async onCheckClicked(): Promise<void> {
    this.valid = await this.apiService.checkApiKey(this.apiKey);
    this.dirty = true;

    if (this.valid) {
      this.$store.commit('apiKey', this.apiKey);
    }
  }
}
</script>
