<template>
  <div id="app">
    <h1>Meal Calc</h1>
    <ApiKeyForm />
    <div>API Key: {{ this.$store.state.apiKey }}</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import ApiKeyForm from './components/ApiKeyForm.vue';

@Component({
  components: {
    ApiKeyForm
  }
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
